# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/videos/film making/film (1).mp4
src/assets/videos/film making/film (2).mp4
src/assets/videos/film making/film (3).mp4
src/assets/videos/film making/film (4).mp4
src/assets/videos/hardware/hardware (1).mp4
src/assets/videos/hardware/hardware (2).mp4
src/assets/videos/hardware/hardware (3).mp4
src/assets/videos/hardware/hardware (4).mp4
src/assets/videos/hardware/hardware (5).mp4
src/assets/projects/brinnng/image 1.jpg
src/assets/projects/brinnng/image 2.jpg
src/assets/projects/brinnng/image 3.jpg
src/assets/projects/brinnng/image 4.jpg
src/assets/projects/brinnng/image 5.jpg
src/assets/projects/brinnng/image 6.jpg
src/assets/projects/brinnng/image 7.jpg
src/assets/projects/brinnng/image 8.png
src/assets/projects/brinnng/image 9.png
src/assets/projects/brinnng/image 10.png
src/assets/projects/brinnng/image 11.png
src/assets/projects/brinnng/image 12.png
src/assets/projects/brinnng/video 1.mp4
src/assets/projects/brinnng/video 2.mp4
src/assets/projects/brinnng/video 3.mp4
src/assets/projects/brinnng/video 4.mp4
src/assets/projects/brinnng/video 5.mp4
src/assets/projects/brinnng/video 6.mp4
src/assets/projects/brinnng/video 7.mp4
src/assets/projects/championship/video 1.mp4
src/assets/projects/dames/video 1.mp4
src/assets/projects/gps/video 1.mp4
src/assets/projects/gps/video 2.mp4
src/assets/projects/gps/video 3.mp4
src/assets/projects/linkedin/video 1.mp4
src/assets/projects/linkedin/video 2.mp4
src/assets/projects/linkedin/video 3.mp4
src/assets/projects/opencv/image 1.png
src/assets/projects/opencv/image 2.png
src/assets/projects/opencv/image 3.png
src/assets/projects/opencv/image 4.png
src/assets/projects/opencv/image 5.png
src/assets/projects/opencv/image 6.png
src/assets/projects/opencv/image 7.png
src/assets/projects/opencv/image 8.png
src/assets/projects/opencv/image 9.png
src/assets/projects/opencv/video 1.mp4
src/assets/projects/pistolero/video 1.mp4
src/assets/projects/pizza/image-054.jpg
src/assets/projects/pizza/image-055.jpg
src/assets/projects/pizza/image-056.jpg
src/assets/projects/pizza/image-057.jpg
src/assets/projects/pizza/image-058.jpg
src/assets/projects/pizza/image-059.jpg
src/assets/projects/pizza/image-060.jpg
src/assets/projects/pizza/image-063.png
src/assets/projects/pizza/image-064.jpg
src/assets/projects/pizza/image-065.jpg
src/assets/projects/pizza/image-066.png
src/assets/projects/pizza/image-067.jpg
src/assets/projects/pizza/image-068.png
src/assets/projects/pizza/image-069.jpg
src/assets/projects/pizza/image-070.png
src/assets/projects/pizza/image-071.png
src/assets/projects/pizza/image-072.jpg
src/assets/projects/pizza/image-073.jpg
src/assets/projects/pizza/image-074.jpg
src/assets/projects/pizza/image-075.jpg
src/assets/projects/portfolio/out.mp4
src/assets/projects/presence/image 1.png
src/assets/projects/presence/image 2.png
src/assets/projects/presence/image 3.png
src/assets/projects/presence/image 4.png
src/assets/projects/presence/image 5.png
src/assets/projects/presence/video 1.mp4
src/assets/projects/presence/video 2.mp4
src/assets/projects/presence/video 3.mp4
src/assets/projects/prodabri/video 1.mp4
src/assets/projects/prodabri/video 2.mp4
src/assets/projects/prodabri/video 3.mp4
src/assets/projects/prodabri/video 4.mp4
src/assets/projects/prodabri/video 5.mp4
src/assets/projects/prodabri/video 6.mp4
src/assets/projects/prodabri/video 7.mp4
src/assets/projects/robot/video 1.mp4
src/assets/projects/robot/video 2.mp4
src/assets/projects/robot/video 3.mp4
src/assets/projects/rss/video 1.mp4
src/assets/projects/todo/image 1.png
src/assets/projects/todo/image 2.png
src/assets/projects/todo/image 3.png
src/assets/projects/todo/image 4.png
src/assets/projects/todo/video 1.mp4
